@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Sacramento&display=swap" rel="stylesheet");

img {
	width: 100%;
}


div {

	border: 1px solid black;
	height: 100px;
	background-color: pink; 
	font-family: 'Sacramento';
}


h1{
font-family: 'Sacramento';

	
}