/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Sacramento&display=swap" rel="stylesheet");
@import url("<link href="https://fonts.googleapis.com/css?family=Italiana&display=swap" rel="stylesheet">");

.grid-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

body{
    margin: 6;
    padding: 30;
    font-family: 'Sacramento';
    background-color: #FFF6F7;
    color: black;
    margin-left: 0%;

}

h2,.white{
    color: black;

}



nav{

color:pink;
 font-family: "Times New Roman", Times, serif;
  background-color: white;
  font-size: 1.8rem;
  padding: 50px;
}
a{
    color: #7A7C80;
    text-decoration: none;
}
/* section 1 */
.section-1{
    padding-top: 8vh;
    padding-left: 16vw;
    text-align: center;
}

.section-1 p{
    font-size: 2.2rem;
    padding-bottom: 10px;
    margin:0;
    font-family: "Times New Roman", Times, serif;

}

.section-1 h2{
    font-size: 6rem;
    margin-bottom: 7px;
    margin-left: 10%;
       font-family: 'Sacramento';

}

.section-1 a{
    font-size: 1.9rem;
    padding: 10px;
}
/* section 2 */
.section-2{
    padding-top: 18vh;
    width: 70%;
}

.section-2 h2{
    font-size: 3.7rem;
    margin-bottom: 10px;
       font-family: 'Sacramento';

}

.section-2 p{
    font-size: 1.5rem;
    padding-bottom: 10px;
    margin:0;
       
       font-family: 'Quicksand', sans-serif;
}

.section-2 a{
    display: block;
    padding: 5px;
    font-size: 1.9rem;
    padding-left: 0;
    width: 100px;
}
/* animations / utilities */
.section-2 a:hover{
    font-size: 1.4rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.section-1 a:hover{
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.white:hover{
    position: relative;
    padding-left: 10px;
}

/* media queres */
@media(max-width:780px){
    .grid-2{
        grid-template-columns: 1fr;
    }
    .section-1{
        padding:0;
        padding-top: 5rem;
    }
    .section-2{
        padding: 5;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }



    img {
    width: 100%;
}
div {
    border: 1px solid black;
    height: 100px;
    font-family: 'Sacramento';


}





p{

font-size: 40px;

}
}